.flex-container {
    display: flex;
}

.flex-container>div {
    padding: 20px;
    flex-grow: 1;
}

.dotted-line {
    border-top: 1px dashed turquoise;
}

.post-background {
    background-color: turquoise;
}
