.header {
	grid-area: header;
	background-color: #add8e6;
	text-align: center;
}

.menu {
	grid-area: menu;
	background-color: #2f4f4f;
	text-align: center;
	color: white;
	display: flex;
}

.menu > div {
	padding: 1em;
	border-right: 1px solid black;
}

.column {
	grid-area: column;
	display: flex;
	flex-wrap: wrap;
}

.column1 {
	background-color: #aaaaaa;
	flex-grow: 1;
	height: 15em;
	order: 1;
}

.column2 {
	background-color: #bbbbbb;
	flex-grow: 2;
	height: 15em;
	order: 2;
}

.column3 {
	background-color: #cccccc;
	flex-grow: 1;
	height: 15em;
	order: 3;
}

.footer {
	grid-area: footer;
	background-color: #2f4f4f;
	text-align: center;
	color: white;
	padding: 1em;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'column'
    'footer';
}

@media screen and (max-width:599px) {/* any screen < 600px */
	.column2 {
		width: 100%;
		order: 4;
	}
}
